<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Event</title>

<link rel="stylesheet" th:href="@{/style/master/bootstrap.min.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" th:href="@{/style/master/style.css}">


<script type="text/javascript" th:src="@{/script/angular-1.6.10/angular.min.js}"></script>
<script type="text/javascript" th:src="@{/script/master/paging.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.js"></script>
<script type="text/javascript" th:src="@{/script/master/jquery-3.3.1.js}" ></script>
<script type="text/javascript" th:src="@{/script/master/jquery.min.js}" ></script>
<script type="text/javascript" th:src="@{/script/master/jquery-ui.js}"></script>	

<script type="text/javascript" th:src="@{/script/master/bootstrap.min.js}" ></script>
<script type="text/javascript" th:src="@{/script/master/script.js}" ></script>
<script type="text/javascript" th:src="@{/script/event/event.js}" ></script>
<style type="text/css">
th.header {
    width: 10%;
}
</style>
</head>
<body ng-app="evenApp" ng-controller="eventCotroller">
	<div th:replace="/fragments/header :: header">&nbsp;</div>
	<div th:replace="/fragments/menu :: menu">&nbsp;</div>
	
	<div class="main-container" >
	
		<div class="small-header">
			<div style="float: left;"><label class="header-label">Event Details</label></div>
			<div style="float: right;">
				<button class="add-child-form btn btn-success" ng-click = "">Create Event</button>
			</div>
		</div>
		
		<form action="">
			<div id="scrollable-area">
				<table ng-table="tableParams" class="table table-condensed table-bordered table-striped" fixed-table-headers="scrollable-area">
				       <tr ng-repeat="event in $data">
				      <td data-title="'Select'"><input type="radio" ng-click="setMemberId(event.id)" ng-value="event.id" name="id" required="required"></td>
				      <td data-title="'Id'" sortable="'event.id'">{{event.id}}</td>
				      <td data-title="'Child Name'" sortable="'event.child_name'">{{event.child_name}}</td>
				      <td data-title="'Date'" sortable="'event.date'">{{event.date | date : format : shortDate}}</td>
				      <td data-title="'Child Name'" sortable="'event.child_name'">{{event.child_name}}</td>
				      <td data-title="'Deposit'" sortable="'event.deposit'">{{event.deposit}}</td>
				      <td data-title="'No Of Adults'" sortable="'event.no_of_adults'">{{event.no_of_adults}}</td>
				      <td data-title="'No Of Children'" sortable="'event.no_of_children'">{{event.no_of_children}}</td>
				      <td data-title="'Mobile'" sortable="'event.phone'">{{event.phone}}</td>
				      <td data-title="'Location'" sortable="'event.location'">{{event.location}}</td>
				      <td data-title="'Theme'" sortable="'event.theme'">{{event.theme}}</td>
				    </tr>
				  </table>
			</div>
			<div class="common-footer" style="height: 50px;">
				<div class="inline-button"><a ng-click="" class="btn btn-primary update-child">Update</a></div>
				<div class="inline-button"><button th:formaction="@{/admin/delete_membership}" class="btn btn-primary">Delete</button></div>
				<div class="inline-button"><a href="" class="btn btn-primary">User Info</a></div>
			</div>
			</form>
				    	
	</div>
	
	<div class="floating-form-div">
	<form th:action="@{/admin/event/add}" th:object="${events}" method="post">
	    <div class="detail-div">
	    	<div style="width: 100%;">
	    		<div class="h-line" style="border-bottom: 2px groove;">
	    			<label class="header-label">Add Membership</label>
	    			<label style="float: right;"><a class="close-floating-div"><img alt="" width="45" height="45" src="/images/closebtn.png"></a></label> 
	    		</div>
		    	<div class="h-line" style="width: 100%; height:30px;">
			    	<div class=text-input-sm>
			    		 <input type="text" name="child_name" class="input" autofocus="autofocus" placeholder="Child Name" value=""/>			    		
			    	</div>
			    	<div class="text-input-sm">
			    		<input type="text" name="phone" class="input" placeholder="Mobile" value="">			    		
			    	</div>
			    	<div class="text-input-sm">
			    		<input type="text" name="phone2" class="input" placeholder="Alternate Mobile" value="">			    		
			    	</div>
			    	<div class=text-input-sm>
			    		<input type="text"name="theme" class="input" placeholder="Theme" value="">			    		
			    	</div>
		    	</div>
		    	
		    	<div class="h-line" style="width: 100%; height:30px;">
			    	<div class=text-input-sm>
			    		 <input type="text" name="address" class="input" placeholder="Address" value=""/>			    		
			    	</div>
			    	<div class="text-input-sm">
			    		<input type="text" name="location" class="input" placeholder="Location" value="">			    		
			    	</div>
			    	<div class="text-input-sm">
			    		<input type="text" name="organiser" class="input" placeholder="Organiser" value="">			    		
			    	</div>
			    	<div class=text-input-sm>
			    		<input type="text"name="organiser_contact" class="input" placeholder="Organiser Contact" value="">			    		
			    	</div>
		    	</div>
		    	
		    	<div class="h-line" style="width: 100%; height:30px;">
			    	<div class=text-input-sm>
			    		 <input type="text" name="deposit" class="input" placeholder="Deposit" value=""/>			    		
			    	</div>
			    	<div class="text-input-sm">
			    		<input type="text" name="ground_rent" class="input" placeholder="Ground Rent" value="">			    		
			    	</div>
			    	<div class=text-input-sm>
			    		<input type="text"name="no_of_children" class="input" placeholder="No Of Children" value="">			    		
			    	</div>
			    	<div class=text-input-sm>
			    		 <input type="text" name="no_of_adults" class="input" placeholder="No Of Adults" value=""/>			    		
			    	</div>
		    	</div>
		    	
		    	<div class="h-line" style="width: 100%; height:30px;">
		    	
			    	
			    	<div class="text-input-sm">
			    		<input type="text" name="food_par_head" class="input" placeholder="Food Per Head" value="">			    		
			    	</div>
			    	
			    	<div class="text-input-sm">
			    		<input type="text" name="entry_charge_child" class="input" placeholder="Entry Charge Child" value="">			    		
			    	</div>
			    	
			    	<div class=text-input-sm>
			    		<input type="text"name="entry_charge_adults" class="input" placeholder="Entry Charge Adults" value="">			    		
			    	</div>
			    	
			    	<div class="text-input-sm">
			    		<input type="text" name="remarks" class="input" placeholder="Remarks" value="">			    		
			    	</div>
		    	</div>
		    	
		    	<div class="h-line">
		    	
			    	<div class="text-input-sm">
			    		<input type="submit" class="btn btn-primary" value="save">			    		
			    	</div>
			    	
		    	</div>
		    </div>
		   </div>
		   </form>
		 </div>
			    
</body>
</html>