<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Membership</title>

<link rel="stylesheet" th:href="@{/style/master/style.css}">
<link rel="stylesheet" th:href="@{/style/master/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/style/dashboard/dashboard.css}">
<link rel="stylesheet" th:href="@{/style/master/jquery-ui.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">


<script type="text/javascript" th:src="@{/script/angular-1.6.10/angular.min.js}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.js"></script>
<script type="text/javascript" th:src="@{/script/master/jquery-3.3.1.js}" ></script>
<script type="text/javascript" th:src="@{/script/master/jquery-ui.js}"></script>	
<script type="text/javascript" th:src="@{/script/master/bootstrap.min.js}" ></script>
<script type="text/javascript" th:src="@{/script/master/script.js}" ></script>
<script type="text/javascript" th:src="@{/script/angular-1.6.10/angular.min.js}"></script>
<script type="text/javascript" th:src="@{/script/dashboard/dashboard.js}"></script>

</head>
<body ng-app="membership">
<div th:replace="/fragments/header :: header">&nbsp;</div>
	<div th:replace="/fragments/menu :: menu">&nbsp;</div>
	
	<div class="main-container" ng-controller="membershipController">
	
		<div class="small-header">
			<div style="float: left;"><label class="header-label">Membership Details</label></div>
			<div style="float: right;">
				<button class="add-child-form btn btn-success">Assign Membership</button>
			</div>
		</div>
		
		<form action="">
			<div id="scrollable-area">
				<table ng-table="tableParams" class="table table-condensed table-bordered table-striped" fixed-table-headers="scrollable-area">
				    <tr ng-repeat="child in $data">
				      <td data-title="'Select'"><input type="radio" name="childId" required="required"></td>
				      <td data-title="'Id'" sortable="'child.id'"></td>
				      <td data-title="'Image'" sortable="'id'"></td>
				      <td data-title="'First_Name'" sortable="'member.firstname'"></td>
				      <td data-title="'Last_Name'" sortable="'member.lastname'"></td>
				      <td data-title="'Phone'" sortable="'member.phone'"></td>
				      <td data-title="'Delete'"></td>
				      <td data-title="'edit'"></td>
				    </tr>
				  </table>
			</div>
			<div class="common-footer" style="height: 50px;">
				<div class="inline-button"><button th:formaction="@{/admin/scancardforchildcheckin}" class="btn btn-primary">Update</button></div>
				<div class="inline-button"><a th:href="@{/admin/scancardforcheckout}" class="btn btn-primary">Delete</a></div>
				<!-- <div class="inline-button"><a href="" class="btn btn-primary">User Info</a></div> -->
			</div>
			</form>
				    	
	</div>
</body>
</html>