<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="menu">
	<div class="menu-slide-button"></div>
	<div class="menu">
	<ul class="menu-ul">
		<a th:href="@{/admin/dashboard}"><li class="menu-li">Dash Board</li></a>
		<a th:href="@{/admin/childview}"><li class="menu-li">Child</li></a>
		<li class="menu-li">Teacher</li>
		<li class="menu-li">Classes</li>
		<a th:href="@{/admin/membership_page}"><li class="menu-li">Membership</li></a>
		<a th:href="@{/admin/settingpage}"><li class="menu-li">Settings</li></a>
		<li class="menu-li">Event</li>
		<li class="menu-li">Report</li>
	</ul>
		
	</div>
</div>
</body>
</html>