<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="menu">
	<div class="menu-slide-button"></div>
	<div class="menu">
	<ul class="menu-ul">
		<li class="menu-li"><a th:href="@{/admin/dashboard}">Dash Board</a></li>
		<li class="menu-li"><a th:href="@{/admin/childview}">Child</a></li>
		<li class="menu-li">Teacher</li>
		<li class="menu-li">Classes</li>
		<li class="menu-li">Membership</li>
		<li class="menu-li"><a th:href="@{/admin/settingpage}">Settings</a></li>
	</ul>
		
	</div>
</div>
</body>
</html>