<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
</head>
<body>
 <div th:fragment="reportmenu">
 	<div class="page-title">
	<!-- <div class="page-title-text">ReportPage</div> -->
	<div class="page-title-button"><a th:href="@{classattendancepage.html}"><button class="btn btn-primary">Class Att</button></a></div>
	<div class="page-title-button"><a th:href="@{staffattendancereport.html}"><button class="btn btn-primary">Staff Report</button></a></div>
	<div class="page-title-button"><a th:href="@{teacherattendancereport.html}"><button class="btn btn-primary">Teacher Report</button></a></div>
	<div class="page-title-button"><a th:href="@{childattendancereport.html}"><button class="btn btn-primary">Child Report</button></a></div>
	<div class="page-title-button dropdown">
	<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Transactions <span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li><a th:href="@{dailytransaction.html}">Daily Transaction</a></li>
			<li><a th:href="@{eventtransactionreportpage.html}">Event Transaction</a></li>
		</ul>
	</div>
	</div>
</div>
</body>
</html>