.current-status-div{
	width: 70%;
	height: 30px;
	float:right;
	overflow: scroll;
	background-color: white;
}


.search-children{
	position:absolute;
	width: 27%;
	height: 600px;
	border: 1px groove;
}

#search-input{
	width: 100%;
	float: left;
}













/* ===============Auto complete============================= */
