.current-status-div{
	position:static;
	width: 70%;
	height: 200px;
	float:right;
	border-bottom: 1px solid;
}


.search-children{
	position:absolute;
	width: 27%;
	height: 600px;
	border: 1px groove;
}

#search-input{
	width: 100%;
	float: left;
}













/* ===============Auto complete============================= */
