body{
	top: 0;
	left: 0;
}

.header{
	position: static;
	width: 100%;
	height: 50px;
	border: 1px solid !important; 
	z-index: 1;
	background: #687eb9;
}

a,a:hover,a:active,a:focus{
	color: black !important;
	text-decoration: none !important;
}

.menu{
	position: absolute;
	margin-left: -14%;
	width: 15%;
	height: 600px;
	border: 1px solid;
	z-index: 1;
	background: #687eb9;
}

.menu-ul{
	list-style: none;
	text-align: center;
	padding: 0px;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
}

.menu-li{
	margin-top: 5px;
	height:30px;
	color: white;
	font-size: 15px;
	background-color: #7418990a;
	border-bottom: 1px groove #070024
}

.menu-li:hover{
	background-color: blue;
}

.menu-slide-button{
	position: absolute;
	margin-left: 1%;
	float: right;
	width: 10px;
	height: 35px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;	
	border: 2px groove black;
	border-left: none;
	z-index: 1;
	background: black;
}

.main-container{
	margin-left: 2.5%;
	width: 95%;
	height: 600px;
	z-index: 0;
	font-family: Arial;
	font-size: 12px;
}

.floating-form-div{
	position: absolute;
	top:0;
	margin-top:70px;
	margin-left:10%;
	width: 80%;
	height: 550px;
	border: 1px solid;
	background: white;
	display:none;
	z-index: 0;
	
}

.detail-div{
	width: 100%;
}

.small-header{
	width: 100%;
	height: 40px;
}

.text-input-lg{
	float: left;
	width: 25%;
	height: 35px;
	margin-left: 3%;
	margin-top: 10px;
}

.text-input-md{
	float: left;
	width: 30%;
	height: 35px;
	margin-left: 3%;
	margin-top: 10px;
}

.text-input-sm{
	float: left;
	width: 20%;
	height: 35px;
	margin-left: 3%;
	margin-top: 10px;
}

.text-input-ssm{
	float: left;
	width: 5%;
	height: 35px;
	margin-left: 3%;
	margin-top: 10px;
}

.image-div{
	width: 20%;
	height: 160px;
	float: right;
	border: 1px solid;
	margin-right: 5%;
	margin-top: 3px;
}

.input{
	width: 100%;
	height: 35px;
}

.h-line{
	width: 100%;
}

.form-input-field{
	
	
}

.header-label{
	font-size: 2em;
	font-family: sans-serif;
	font-style: normal;
	font-weight: bold;
}

.common-footer{
	width: 100%;
}

.inline-button{
	margin-top:10px;
	width: 10%;
	display: inline-block;
	float: left;
}

.i-table{
	width: 100%;
	border: 1px solid grey;
	border-collapse: collapse;
	padding: 5px;
}

.i-table tr:nth-child(odd) {
	background-color: #f1f1f1;
  }
.i-table tr:nth-child(even) {
	background-color: #ffffff;
  }

.small-button-v{
	max-width: 70px;
	max-height: 30px;
	background-color: #203775;
	color: white;
  }


  .login-div{
	  margin-top: 100px;
	  margin-left: 33%;
	  width: 30%;
	  height: 250px;
	  border: 2px groove #203775;
	  text-align: center;
  }

  .login-ul{
	padding: 0px;
	width: 100%;
  }

  .login-li{
	margin-top: 10px;
	list-style: none;
	width: 100%;
  }

  .login-text{
	width: 90%;
	height: 35px;
  }

