<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/style/master/style.css}">
<link rel="stylesheet" th:href="@{/style/master/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/style/dashboard/dashboard.css}">
<link rel="stylesheet" th:href="@{/style/master/jquery-ui.css}">

<script type="text/javascript" th:src="@{/script/master/jquery-3.3.1.js}" ></script>
<script type="text/javascript" th:src="@{/script/master/jquery-ui.js}"></script>	
<script type="text/javascript" th:src="@{/script/master/bootstrap.min.js}" ></script>
<script type="text/javascript" th:src="@{/script/master/script.js}" ></script>
<script type="text/javascript" th:src="@{/script/angular-1.6.10/angular.js}"></script>
<script type="text/javascript" th:src="@{/script/angular-1.6.10/angular.min.js}"></script>
<script type="text/javascript" th:src="@{/script/dashboard/dashboard.js}"></script>

<title>Dashboard</title>
</head>
<body ng-app="dashboard" ng-controller="dashboardController">
	<div th:replace="/fragments/header :: header">&nbsp;</div>
	<div th:replace="/fragments/menu :: menu">&nbsp;</div>
	
	<div class="main-container">
		<div class="current-status-div" id="status-div1">
			<table class="i-table">
	  			<tr>
	  				<th>Radio</th>
	  				<th>Id</th>
	  				<th>Child_Name</th>
	  				<th>Socks_Pair</th>
	  				<th>Date</th>
	  				<th>Time_Left</th>
	  			</tr>
	  			<tr ng-repeat="cc in checkedinChildren">
	  				<td><input type="radio" name="childId" value="{{child.id}}" required="required"></td>
	  				<td>{{cc.id}}</td>
	  				<td>{{cc.child_name}}</td>
	  				<td>{{cc.socks_pair_no}}</td>
	  				<td>{{cc.start_date | date : format : shortDate}}</td>
	  			</tr>
  			</table>
		</div>
		<div class="current-status-div" id="status-div2">
		
		</div>
		<div class="current-status-div" id="status-div3">
		
		</div>
		<div class="search-children">
			<div class="small-header">
				<div style="float: left;"><label class="header-label">Search Child</label></div>
					<div style="float: right;">
						<a class="add-child-form btn btn-success" th:href="@{/admin/childview}">ViewChild</a>
					</div>
			</div>
			<div class="h-line" style="height: 30px;">
				<input type="text" id="search-input" ng-keyup="searchChild()" ng-model="keyword" autofocus="autofocus" placeholder="Search Child">
	  		</div>
	  		<br>
	  		<form action="">
		  		<div class="h-line" style="height: 470px;">
		  			<table class="i-table">
			  			<tr>
			  				<th>Radio</th>
			  				<th>Id</th>
			  				<th>Name</th>
			  				<th>DOB</th>
			  				<th>Check_in</th>
			  			</tr>
			  			<tr ng-repeat="child in childDetails">
			  				<td><input type="radio" name="childId" value="{{child.id}}" required="required"></td>
			  				<td>{{child.id}}</td>
			  				<td>{{child.firstname+' '+child.lastname}}</td>
			  				<td>{{child.dob}}</td>
			  				<td><a href="/admin/scancardforchildcheckin?childId={{child.id}}" class="small-button-v"><font color="white">Check_In</font></a> </td>
			  			</tr>
		  			</table>
		  		</div>
		  		<div class="h-line" style="height: 40px;">
	  				<button class="btn btn-primary">Child Info</button>
	  				<a class="btn btn-primary"th:href="@{/admin/scancardforcheckout}">Check Out</a>
		  		</div>
	  		</form>
		</div>
		
	</div>
</body>
</html>